.content1 {
  width: auto;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}
.button {
  border: none;
  color: blue;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 10px;
  cursor: pointer;
}

.h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px 20px 20px;
}

.h2 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 250, 241);
  height: auto;
  width: auto;
}

.child {
  position: relative;
  height: auto;
  width: auto;
  border: #ff0000 1px solid;
  text-align: justify;
  padding: 5px 15px;
  margin: 10px 10px 10px;
}

#gallery {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
